# Ambientes
.python-version
env/
venv/
.env/
.venv/

__pycache__/
.ruff_cache/

# Mantém arquivo de config de debugging
.vscode/*
!.vscode/launch.json

# Arquivos que você deve criar localmente
.env
localrun.selected.yaml

# Arquivos criados ao executar alguns flows
/data/

# Authentik
/server/certs
/server/custom-templates
# Nginx Proxy Manager
/server/data
/server/letsencrypt
/server/settings/ws_secret.conf

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
