###  Infisical  ###
ENCRYPTION_KEY=xxxxxxxxxxxxxxxx
AUTH_SECRET=xxxxxxxxxxxxxxxx

###  Authentik  ###
AUTHENTIK_SECRET_KEY=xxxxxxxxxxxxxxxx

### Prefect ###
# PREFECT_SERVER_API_HOST="pipelines.dominio.local"
# PREFECT_SERVER_API_PORT="80"
