# Configuração Nginx para autenticação do WebSocket
# Problema descrito mais detalhadamente em pipelines.nginx.conf
# Resumo:
# Prefect usa conexão WebSocket entre jobs e servidor, e parece não
# conseguir lidar bem com a autenticação do Authentik
# Burlamos a autenticação e ao invés disso conferimos por uma chave
# estática passada por um header próprio
# Copie esse arquivo, e substitua `<CHAVE>` abaixo com uma secreta,
# p.ex. usando `openssl rand -base64 32`
if ($http_x_prefect_ws_auth != "<CHAVE>") {
  return 403 "Forbidden\n";
}
